[defaults]
inventory = ./inventory/hosts.yml
remote_user = ansible_user
host_key_checking = False
forks = 10
log_path = ./patching.log

[privilege_escalation]
become = True
become_method = sudo
become_user = root
